@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply h-12 bg-white border w-full flex-1 rounded-xl p-2 focus:ring-0 focus:outline-none text-slate-500 text-base
  }
  .input-error {
    @apply text-xs text-red-700 text-left mt-2
  }
}
.custom-loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: conic-gradient(#c0eb4b00 10%, #188bad);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: s3 0.5s infinite linear;
}
.loader-submit {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: conic-gradient(#c0eb4b00 10%, #ffffff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 2px), #000 0);
  animation: s3 0.5s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

